# Activity 관련 feature engineering

In [2]:
import pandas as pd

In [3]:
activity_df = pd.read_csv('C:/Users/CPB06GameN/Desktop/빅콘/2019_빅콘테스트_챔피언스리그_데이터/train_activity.csv')

In [4]:
activity_df.tail()

,day,acc_id,char_id,server,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
1594668,28,49021,109142,bs,1.163729,0.0,0.0,0.0,0.0,0,0.24537,0.246819,0.0,0.0,0.0,0.000246,0.0
1594669,28,54844,117439,bs,1.147138,0.0,0.0,0.0,0.0,0,0.24537,0.246819,0.0,0.0,0.0,-0.000307,0.0
1594670,28,60388,78905,bs,1.151879,0.0,0.0,0.0,0.0,0,0.24537,0.246819,0.0,0.0,0.0,-0.003663,0.0
1594671,28,72319,196592,bs,1.156619,0.0,0.0,0.0,0.0,0,0.49074,0.493639,0.0,0.0,0.0,-0.001999,0.0
1594672,28,73739,383802,bs,1.140028,0.0,0.0,0.0,0.0,0,0.49074,0.493639,0.0,0.0,0.0,0.001129,0.0

In [5]:
activity_df.describe()

,day,acc_id,char_id,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
count,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06
mean,1.474104e+01,6.543145e+04,1.985423e+05,1.061710e+00,4.961376e-01,2.339671e-01,1.294045e-01,1.059141e-01,1.239383e-01,7.423919e-02,6.643866e-02,5.700723e-02,1.561828e-01,2.661207e-01,-1.304998e-03,1.625543e-02
std,8.132663e+00,3.749806e+04,1.146751e+05,1.221404e+00,1.120659e+00,1.236939e+00,1.102442e+00,1.092475e+00,3.295112e-01,7.262480e-01,7.246670e-01,1.005531e+00,4.707315e-01,8.297414e-01,8.828235e-01,8.781793e-01
min,1.000000e+00,2.000000e+00,2.000000e+00,2.370121e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-8.460951e+01,0.000000e+00
25%,8.000000e+00,3.303900e+04,9.899500e+04,4.503230e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.364748e-03,0.000000e+00
50%,1.500000e+01,6.556400e+04,1.982820e+05,4.645437e-01,4.385879e-03,2.980231e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.200000e+01,9.766600e+04,2.978440e+05,1.798922e+00,3.495208e-01,2.200882e-02,0.000000e+00,8.658479e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.059622e-03,0.000000e+00
max,2.800000e+01,1.304730e+05,3.974430e+05,3.412974e+00,1.783636e+01,6.918458e+01,1.062257e+02,3.595462e+01,1.000000e+00,2.210782e+02,2.223842e+02,7.957624e+01,3.412974e+00,3.412974e+00,7.370887e+01,1.884482e+02

In [6]:
activity_df.shape

(1594673, 17)

### 1. 플레이한 주 횟수

한 번 이상 접속한 적 있는 주를 카운트함

In [15]:
play_one = activity_df.groupby('acc_id').size().reset_index(name="play_one")
acc_id_df = play_one[['acc_id']]
play_one.tail()

       acc_id  play_one
39995  130463        45
39996  130468         8
39997  130469        76
39998  130470        66
39999  130473        30

### 2. 주별 플레이한 날짜 수  = 생략

### 3. 총 플레이 시간 합(sum)

In [46]:
sum_cnt = activity_df.groupby('acc_id').sum()
sum_cnt=sum_cnt[['playtime']].tail()
sum_cnt

         playtime
acc_id
130463  50.279744
130468   1.422073
130469  58.295493
130470  23.345691
130473  73.464266

### 4. 경험치 총합_ 경험치의 관점 다시!

솔로 사냥 획득 경험치 + 파티 사냥 획득 경험치  + 퀘스트 획득 경험치 + 경험치 복구 횟수(성당)

In [53]:
sum_exp = activity_df.loc[:,["acc_id",'solo_exp','party_exp','quest_exp','exp_recovery']].groupby("acc_id").sum().reset_index()
sum_exp.tail()

       acc_id  solo_exp   party_exp  quest_exp  exp_recovery
39995  130463  4.902486  223.862043   0.276113           0.0
39996  130468  0.572261    0.000000   5.667375           0.0
39997  130469  0.205757    0.000002   0.029339           0.0
39998  130470  4.954777    0.231720   0.117099           0.0
39999  130473  0.065747    0.011388   0.004423           0.0

### 5. 나머지 변수 총합

나머지 싸그리

In [36]:
sum_namerge = activity_df.loc[:,['acc_id','npc_kill','boss_monster',
                                 'death','revive','fishing','private_shop',
                                 'game_money_change','enchant_count']].groupby('acc_id').sum().reset_index()
sum_namerge.tail()

,acc_id,npc_kill,boss_monster,death,revive,fishing,private_shop,game_money_change,enchant_count
39995,130463,0.517196,0,4.416656,3.702290,0.000000,0.000000,0.010068,0.0
39996,130468,0.200064,0,0.000000,0.000000,0.977714,0.000000,-0.000091,0.0
39997,130469,17.471318,11,1.226849,1.234097,6.864700,36.589412,-0.226276,0.0
39998,130470,25.187091,4,0.736109,0.740458,0.166027,0.000000,-0.009887,0.0
39999,130473,29.873572,8,5.643505,5.676844,45.478274,0.000000,-2.128790,0.0

### 6. 계산된 컬럼 모으기

In [56]:
merge_activity_df = pd.merge(play_one, sum_cnt, how = 'inner', on='acc_id') 
merge_activity_df = pd.merge(merge_activity_df,sum_exp,how = 'inner', on='acc_id'  )
merge_activity_df = pd.merge(merge_activity_df,sum_namerge, how = 'inner', on='acc_id')
merge_activity_df

,acc_id,play_one,playtime,solo_exp,party_exp,quest_exp,exp_recovery,npc_kill,boss_monster,death,revive,fishing,private_shop,game_money_change,enchant_count
0,130463,45,50.279744,4.902486,223.862043,0.276113,0.0,0.517196,0,4.416656,3.702290,0.000000,0.000000,0.010068,0.0
1,130468,8,1.422073,0.572261,0.000000,5.667375,0.0,0.200064,0,0.000000,0.000000,0.977714,0.000000,-0.000091,0.0
2,130469,76,58.295493,0.205757,0.000002,0.029339,0.0,17.471318,11,1.226849,1.234097,6.864700,36.589412,-0.226276,0.0
3,130470,66,23.345691,4.954777,0.231720,0.117099,0.0,25.187091,4,0.736109,0.740458,0.166027,0.000000,-0.009887,0.0
4,130473,30,73.464266,0.065747,0.011388,0.004423,0.0,29.873572,8,5.643505,5.676844,45.478274,0.000000,-2.128790,0.0

### 7. 각 컬럼을 생존 label에 따라 전처리  (but 왜 해야하는가)

### 8. 생존한 유저들의 activity 합의 비율

### 9. 나머지 잔존 단계별 유저들의 합의 비율

### 10. 8번과 9번(생존과 이탈의 비교) 비교

# 이하는 동일한 방법으로 test 데이터 전처리했음